[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
input.ng-invalid.ng-dirty {
  background-color: #F2DEDE;
}
input.ng-valid.ng-dirty  {
  background-color : #DFF0D8;
}
textarea.ng-invalid.ng-dirty {
    background-color: #F2DEDE;
}
textarea.ng-valid {
   background-color : #DFF0D8;
}

.alert-box.warning {
  background: #ea7272;
}
/*.well[ui-view]{
 height: 65px;
}*/

/*[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}

[ui-view].ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
       -o-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

[ui-view].ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
     -moz-transform: translate3d(-100%, 0, 0);
       -o-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}*/
