/*.error {
    background: #F2DEDE;
    color:#A94464;
    width:100%;
}*/
input.ng-invalid.ng-dirty {
  background-color: #F2DEDE;
}
input.ng-valid {
  background-color : #DFF0D8;
}
textarea.ng-invalid.ng-dirty {
    background-color: #F2DEDE;
}
textarea.ng-valid {
   background-color : #DFF0D8;
}