<div class="small-12 columns small-centered">

     <h1>all guides</h1>
    <div class="small-12 columns">
        <select ng-model="categoryid" class="c" ng-options="category.name for category in categories track by category.id">
            <option value="">Search by Category</option>
        </select>
    </div>
    <div class="small-12 columns">
        <input type="text" ng-model="search" class="search" placeholder="search guide"/>
    </div>
    <h1 ng-show="loading">Loading...............</h1>
    <h1 ng-show="noresults">No results found</h1>
    <div ng-repeat="guide in guides">
        <h1>[[guide.title]]</h1>
        <p>[[guide.body.substr(0,300)]]
        <a ng-href="/#/guide/[[guide.id]]">continue reading</a>
        </p>
        <div ng-show="$auth.isAdmin()">
            <input type="button" value="delete" ng-click="deleteGuide([[guide.id]])" class="button tiny alert">
        </div>
    </div>



    <div pagination></div>

</div>




