
<div class="small-12 small-centered columns">
<h1>new guide</h1>
    <form name="newguide" novalidate>
        <fieldset>


            <label>title
                <input type="text" ng-model="n.title" name="title" required>
            </label>
                <div class="error"
                        ng-show="newguide.title.$dirty && newguide.title.$invalid">
                        <small class="error"
                        ng-show="newguide.title.$error.required">
                        This field is required
                        </small>
                    </div>
            <label>body
                <textarea  ng-model="n.body" cols="30" rows="10" name="body" ng-minlength="3" required></textarea>
            </label>
              <div class="error"
                        ng-show="newguide.body.$dirty && newguide.body.$invalid">
                        <small class="error"
                        ng-show="newguide.body.$error.required">
                        This field is required
                        </small>
                        <small class="error"
                        ng-show="newguide.body.$error.minlength">
                        Minimum length of 50 chars
                        </small>
                    </div>
            <label>Category
            <select ng-model="categoryid" ng-options="category.name for category in categories track by category.id" name="category" required>
                <option value="">Nothing selected</option>
            </select>
            <div class="error"
                        ng-show="newguide.category.$dirty && newguide.category.$invalid">
                        <small class="error"
                        ng-show="newguide.category.$error.required">
                        This category is required
                        </small>
                    </div>
            </label>
            <input type="text" ng-model="n.category_id"  style="display:none;" name="n.category_id">
            <input type="text" ng-model="n.user_id" value="[[$session.get('id')]]" name="n.user_id" style="display:none;" copy-to-model>
            <input type="button" value="Add Guide" class="button button-primary expand" ng-disabled="newguide.$invalid" ng-click="addnewguide()">
            <div class="alert-box" ng-show="successaddguide">[[successaddguide]]</div>
        </fieldset>

    </form>
</div>

