<div class="small-6 small-centered columns">
<form name="signup">
  <fieldset>
    <legend>Register</legend>

    <label>Firstname
      <input type="text" ng-model="user.firstname" name="firstname">
    </label>
    <label>Lastname
      <input type="text" ng-model="user.lastname" name="lastname">
    </label>
    <label>Email
      <input type="email" ng-model="user.email" name="email">
    </label>
     <label>Password
      <input type="password" ng-model="user.password" name="password">
    </label>
     <label>Password Againn
      <input type="password" ng-model="user.passwordagain" name="passwordagain">
    </label>


    <input type="button" value="Register" class="button button-primary expand">
  </fieldset>
</form>
</div>